<%= render "ledger_menu" %>
</div>
</div>
<% title 'Active positions' %>
<div class="row deposit history">
  <div class="large-12 columns">
    <h6>Active positions</h6>
    <table cellspacing="0">
      <thead>
      <tr>
        <th class="header"><%= t 'trading.pair' %></th>
        <th class="header"><%= t 'trading.amount' %></th>
        <th class="header"><%= t 'trading.base_price' %></th>
        <th class="header"><%= t 'trading.liquidation_price' %></th>
        <th class="header"><%= t 'trading.total_loans' %></th>
        <th class="header"><%= t 'trading.pl' %> ($)</th>
        <th class="header"><%= t 'trading.pl' %> (%)</th>
        <th class="header"><%= t 'trading.swaprate' %></th>
        <th class="header"><%= t 'trading.swap' %></th>
      </tr>
      </thead>
      <tbody>
      <% if @dauser.positions.active.empty? %>
          <tr>
            <td colspan="9"><%= t "trading.no_active_positions" %></td>
          </tr>
      <% else %>

          <% @dauser.positions.active.each do |position| %>
              <tr>
                <td><%= position.pair %></td>
                <td><%= position.amount %></td>
                <td>
                  <%= accurate_dollar(position.base, "$") if Currency.lastunit(position.pair) == "USD" %>
                  <%= accurate_dollar(position.base, "&#3647;") if Currency.lastunit(position.pair) == "BTC" %>
                </td>
                <td>
                  <%= accurate_dollar(position.liquidation_price, "&#3647;") if Currency.lastunit(position.pair) == "BTC" %>
                  <%= accurate_dollar(position.liquidation_price, "$") if Currency.lastunit(position.pair) == "USD" %>
                </td>
                <td>
                  <% if @positiontotal %>
                      <%= @positiontotal[current_user.positions.active.index(position)] %>
                  <% else %>
                      0
                  <% end %>
                  <% if position.amount > 0 %>
                      <%= Currency.lastunit(position.pair) %>
                  <% else %>
                      <%= Currency.firstunit(position.pair) %>
                  <% end %>
                </td>
                <td><%= colored_dollar(position.pl) if Currency.lastunit(position.pair) == "USD" %><%= colored_dollar(position.pl, 0, "&#3647;") if Currency.lastunit(position.pair) == "BTC" %></td>
                <td><%= position.base > 0 ? colored_percentage(position.pl / position.cost) : "N/A" %></td>
                <td>
                  <% if @positiontotal %>
                      <%= position.swaprate(@positiontotal[current_user.positions.active.index(position)]) %>%
                  <% else %>
                      <%= position.swaprate(0) %>%
                  <% end %>
                </td>
                <td>
                  <% if position.amount > 0 %>
                      <%= colored_dollar(position.swap.to_d) if Currency.lastunit(position.pair) == "USD" %>
                      <%= colored_dollar(position.swap.to_d, 0, "&#3647;") if Currency.lastunit(position.pair) == "BTC" %>
                      <%= colored_dollar(position.swap.to_d, 0, "") if Currency.lastunit(position.pair) == "LTC" %>
                  <% else %>
                      <%= colored_dollar(position.swap.to_d) if Currency.firstunit(position.pair) == "USD" %>
                      <%= colored_dollar(position.swap.to_d, 0, "&#3647;") if Currency.firstunit(position.pair) == "BTC" %>
                      <%= colored_dollar(position.swap.to_d, 0, "") if Currency.firstunit(position.pair) == "LTC" %>
                  <% end %>
                </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>