<h2 style="margin: 1.75em 0 .5em;color: #333;font-weight: bold;font-size: 1.1em;">
	Your swap #<%= @credit.id %> has been closed at: <%= @credit.updated_at %>.
</h2>
<p>Details: </p>
<strong>Currency: </strong> &nbsp; <%= @credit.currency %><br/>
<strong>Rate: </strong> &nbsp; <% if @credit.rate > 0 %><%= (@credit.rate * 100).round(4) %><% else %><%= @avgrate.round(1) %><% end %>% per day<br/>
<strong>Open on: </strong> &nbsp; <%= @credit.created_at.strftime("%b %d %I:%M %p") %><br/>
<strong>Amount: </strong> &nbsp; <%= @credit.amount %><br/>
