<h2 style="margin: 1.75em 0 .5em;color: #333;font-weight: bold;font-size: 1.1em;">
  Hello,
</h2>
<p>Here is a little summary of the key figures for last month on Bitfinex:</p>
<strong>Volume (trading and exchange combined): </strong> &nbsp; <br/>
<% unless @monthlyvolume.empty? %>
    <% Currency.currencies.each do |curr| %>
        <%= dollar(@monthlyvolume[Currency.currencies.index(curr)],"") %> <%= curr.to_s %><br/>
    <% end %>
<% end %>
<% unless @sysprofit.nil? %><strong>System profit: </strong> &nbsp; <%= colored_dollar(@sysprofit) %><br/>
<% end %>
<% unless @expenses.nil? %><strong>Monthly expenses: </strong><%= dollar(@expenses) %>
<% end %>
<br/>
<strong>Total assets:</strong> <%= dollar(Stat.get_value("total_assets")) %><br/>
<% unless @normalized_change.nil? %><strong>Normalized change in total deposits:</strong> <%= colored_dollar(@normalized_change) %> (<%= colored_percentage(@normalized_change / Stat.get_value("total_assets")) %> of current deposits)
<% end %>