<div id='contenidomenu'>
<div id="Menu">

<div id="Logo1"><BR><BR><BR><BR>
<%= image_tag('logotipo.png') %>
<div id="Desc">El primer sitio bitcoin seguro y facil para latinoam&eacute;rica</div><!-- Desc -->
</div><!-- Logo -->
<div id="Monedas">
<ul id="aa">
<li><a href="#">BTC 1020 USD</a></li>
<li><a href="#">BTC 0,33 LTC</a></li>
<li><a href="#">LTC 25 USD</a></li>
</ul>
<ul id='idiomas'>
  <li><%= image_tag('idespañol.png', :width=>'30') %></li>
  <li><%= image_tag('idprotugal.png', :width=>'30') %></li>
  <li><%= image_tag('idingles.png', :width=>'30') %></li>
</ul>
<ul id='soporte'>
  <li id='support'
    <% if controller.controller_name == 'pages' && controller.action_name == 'support' %> class="active"
    <% end %>><a  href="/pages/support"><%= t 'nav.support' %></a></li>
</ul>
</div><!-- Monedas -->
<ul id="Menusec">
<li><a id="Act" href="/">INICIO</a></li>
<li><a href="intercambio.html">INTERCAMBIO</a></li>
<li><a href="#">MERCADO</a></li> 
<li><a href="#">DEP&Oacute;SITO</a></li>
<li><a href="#">RETIROS</a></li>
<li><a href="#">CUENTA</a></li>
</ul>
</div><!-- Menu -->
</div>
<% if logged_in? %>
    </div>
    </div>
<% end %>
<%= render "javascript" %>
<% title 'How does Bitfinex works?' %>
<a name="top"></a>
<div class="content">
  <div class="row">
    <div class="large-12 columns">
      <div class="large-12 columns">
        <div class="row border">
          <div class="large-12 columns">
            <h2><i class="icon-cogs"></i> <span>How it works</span></h2>
          </div>
          <div class="large-2 columns">
            <div class="magellan" data-magellan-expedition="fixed">
              <ul class="side-nav how-it-works">
                <li data-magellan-arrival="bitcoins-exchange"><a href="#bitcoins-exchange" class="button green success radius" style="padding:4px;">Change Bitcoins</a></li>
                <li data-magellan-arrival="margin-trading"><a href="#margin-trading" class="button green success radius" style="padding:5px;">Margin Trading</a></li>
                <li data-magellan-arrival="lending"><a href="#lending" class="button green success radius">Liquidity Providing</a></li>
              </ul>
            </div>
          </div>
          <div class="large-10 columns">
            <hr/>
            <div class="row">
              <div class="large-11 columns">
                <h4>Bitfinex offers 3 main functions with 3 different type of wallet which work together</h4>
                <a name="bitcoins-exchange" data-magellan-destination="bitcoins-exchange"></a>
                <p><b>Change Bitcoins</b><br/>
                  The changing of Bitcoins works like any regular Bitcoin trading platform by placing your offer to buy or sell Bitcoins in the Orderbook. Our platform also provides access to Bitstamp’s orderbook for additional liquidity. You can choose to execute orders only on Bitstamp or only on Bitfinex, (that's the routing feature). When one order is matched against another, the order is executed. The Exchange Wallet is used for this feature.
                </p>
                <a name="margin-trading" data-magellan-destination="margin-trading"></a>
                <p><b>Margin trading</b><br/>
                  Our margin trading feature allows you to borrow funds from peer lenders (see next feature) to trade bitcoins. You are always responsible for the accrued interest, at the rate in effect for the loan(s) involved in each position you take.<br/>
                  For example, let's say you want to open a long position for 10 bitcoins. That means you want to buy 10 bitcoins hoping the price will go up. The system will borrow for you 10 * the price of bitcoins in US dollars (let's say 1300 USD, 10 * $130) from lenders, at the best rates available. When you close your position, you will reimburse the 1300 USD USD plus the interest that has accurued. Interest fees are added to your balance once per hour.<br/>
                  At any time, you can close your position. This will reimburse your lender, and your position will be settled either at a profit or a loss, according to the price you close your position at.<br/>
                  The same goes for short position (selling bitcoins), where you borrow bitcoins instead of dollars.<br/>
                  If there is no lender available, you will not be able to open a position. Your order status will be "NO RESERVE ACTIVE", which means that it will be executed as soon as there are funds available.<br/><br/>
                  The trading wallet is used for margin trading. It does not serve the purpose of buying or selling bitcoins, it serves only margin requirements; that is, even if you have 1000 US dollars in this wallet, if you open a 10 BTC long position, you will borrow the needed USD. Funds in this wallet are to cover for eventual losses that may occur. When the losses cover almost all your wallet balances, you may get a margin call and have your position force-closed to avoid further losses.
                </p>
                <a name="lending" data-magellan-destination="lending"></a>
                <p><b>Liquidity Providing</b><br/>
                  Our liquidity feature goes hand in hand with the margin trading feature described above. If you are not a trader and prefer safer investments, this feature is for you. Bitfinex allows you, using your deposit wallets, to provide liquidity in the form of Bitcoins and/or dollars to traders. You can enter offers with your own chosen terms (return rate, duration, and amount). When an offer is taken by a trader, the money in your wallet will be used to buy or sell Bitcoins, and a CFD (credit) will be opened. When the position expires (the trader closes his position), Bitcoins are bought or sold back and the money is returned to your wallet.<br/>
                  <br/>
                  You are not exposed to exchange risk when you lend with Bitfinex. The exchange risk is taken on by the trader, and, in case his position loses money, he will cover the loss with funds in his trading wallet. If a trader loses more than his balance can cover, liquidity providers can lose part of their funds. To ensure against losses liquidity providers can use insured credits (see FAQ for more information).
                </p>

                <a href="#top" class="top">TOP <i class="icon-angle-up"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
