<% if @autolend %>
    <% if @autolend.active == 1 %>
        <div class="large-5 columns">
          <p class="desc">
            <% if @autolend.rate > 0 %><%= t 'credit.autolending_currently_at', :currency => @currency, :rate => (@autolend.rate * 100).round(2), :period => @autolend.period %>
            <% else %>
                <%= t 'credit.autolending_currently_at_vir', :currency => @currency, :period => @autolend.period %>
            <% end %></p>
        </div>
        <div class="large-7 columns">
          <%= submit_tag t("credit.desactivateautolend"), :id => "submit", :name => "submit", :class => "button red secondary radius large", :style => "width:auto;", :onclick => "$('input#amount').val('0');$('input#autol').val('2');$('input#direction').val('');autoLend(document.getElementById('currency').value);" %>
        </div>
    <% else %>
        <div class="large-5 columns">
          <p class="desc">
            <%= t 'credit.autolending_propose', :currency => @currency %></p>
        </div>
        <div class="large-7 columns">
          <%= submit_tag t("credit.activateautolend"), :id => "submit", :name => "submit", :class => "button success radius large", :style => "width:auto;", :onclick => "$('input#amount').val('0');$('input#autol').val('1');$('input#direction').val('');autoLend(document.getElementById('currency').value);" %>
        </div>
    <% end %>
<% else %>
    <div class="large-5 columns">
      <p class="desc">
        <%= t 'credit.autolending_propose', :currency => @currency %></p>
    </div>
    <div class="large-7 columns">
      <%= t 'credit.autolending_propose', :currency => @currency %></p>
    </div>
    <div class="large-7 columns">
      <%= submit_tag t("credit.activateautolend"), :id => "submit", :name => "submit", :class => "button success radius large", :style => "width:auto;", :onclick => "$('input#amount').val('0');$('input#autol').val('1');$('input#direction').val('');autoLend(document.getElementById('currency').value);" %>
    </div>
<% end %>