<%= render "layouts/header" %>

<% unless request.env['HTTP_HOST'] == 'bplata.com' %>
    <%= form_tag sessions_path do %>
        <div id="login-modal" class="reveal-modal small" data-options="closeOnBackgroundClick:false;">
          <h3><%= t 'account.login' %></h3>
          <div style="border-width:1px;border-style:solid;border-color:red;margin:5px;padding:5px;">
            <p class="red"><span style="font-weight: bold;">Importante</span>: Por favor verifique que Usted está visitando https://www.bplata.com en la barra de direcciones de su navegador. No Continue si no está en Bplata.com.<br/>
              <img src="/assets/url_bfx.png" alt="URL"/></p></div>
          <a class="close-reveal-modal"><i class="icon-remove-sign" style="color:#fff;"></i></a>

          <div class="name-field">
            <input id="login" name="login" type="text" required placeholder="<%= t('account.username_or_email') %>">
            <!--<small class="error"><%= t 'account.insert_correct_username' %>.</small>-->
          </div>
          <div class="password-field">
            <input name="password" type="password" required placeholder="<%= t 'account.password' %>">
            <!--<small class="error"><%= t 'account.insert_correct_password' %>.</small>-->
          </div>
          <button type="submit" class="submit success green radius"><%= t("account.login") %></button>
          <a class="change-modal" id="change-login"><%= t "account.no_account" %> <%= t("account.signup") %></a>
          <a class="change-modal" id="reset-password" href="/pages/reset_pass"><%= t 'account.forgot_your_pasword' %></a>
        </div>
    <% end %>

    <%= form_tag({:controller => :users, :action => :create}, {:remote => false, :data => {:abide => ''}}) do %>
        <div id="signup-modal" class="reveal-modal small" data-options="closeOnBackgroundClick:false">
          <h3><%= t 'account.signup' %></h3>
          <a class="close-reveal-modal"><i class="icon-remove-sign" style="color:#fff;"></i></a>

          <div class="referrer-field">
            <% if session[:referrer] %>
                <input name="referrer" type="hidden" value="<%= session[:referrer] %>"/>
            <% else %>
                <label>
                  <small><%= t 'account.referrer_explain' %></small>
                </label>
                <input name="referrer" type="text" placeholder="<%= t 'account.referrer' %>">
            <% end %>
          </div>
          <div class="name-field">
            <input name="user[username]" type="text" required placeholder="<%= t 'account.username' %>">
            <small class="error"><%= t 'account.username_is_required' %>.</small>
          </div>
          <div class="email-field">
            <input name="user[email]" type="email" required placeholder="<%= t 'account.email' %>">
            <small class="error"><%= t 'account.email_is_required' %>.</small>
          </div>
          <div class="password-field">
            <input name="user[password]" type="password" required placeholder="Password">
            <label>
              <small><%= t 'account.insert_correct_password' %>.</small>
            </label>
            <small class="error"><%= t 'account.insert_correct_password' %>.</small>
          </div>
          <div class="password-field">
            <input name="user[password_confirmation]" type="password" required placeholder="Confirm password">
            <small class="error"><%= t 'account.insert_correct_password' %>.</small>
          </div>
          <div class="date-field">
            <%= time_zone_select(:user, :timezone) %>
          </div>
          <hr/>
          <div class="currency-field">
            <label class="currency"><b><%= t 'account.prefcurrency' %></b><br/><%= t 'account.prefcurrency_explain' %>
            </label>
            <label for="dollar" onclick="" class="columns large-6 small-6 dollar">
              <input name="user[prefcurrency]" type="radio" id="currency" required class="hidden-field" value="USD">
              <span class="custom radio"></span>
              <i class="icon-usd"></i> Dollar
            </label>
            <label for="bitcoin" onclick="" class="columns large-6 small-6">
              <input name="user[prefcurrency]" type="radio" id="currency" required class="hidden-field" value="BTC">
              <span class="custom radio"></span>
              <i class="icon-btc"></i> <%= t 'account.bitcoin' %>
            </label>
          </div>
          <hr/>
          <div class="account-type-field">
            <label class="account-type"><b><%= t 'account.level' %></b><br/><%= t 'account.level_explain' %>.</label>
            <label for="trader" onclick="" class="columns large-4 small-4 trader">
              <input name="user[level]" type="radio" id="account-type" required class="hidden-field" value="trader">
              <span class="custom radio"></span>
              Trader
            </label>
            <label for="exchange" onclick="" class="columns large-4 small-4 exchange">
              <input name="user[level]" type="radio" id="account-type" required class="hidden-field" value="exchange">
              <span class="custom radio"></span>
              Exchange
            </label>
            <label for="deposit" onclick="" class="columns large-4 small-4">
              <input name="user[level]" type="radio" id="account-type" required class="hidden-field" value="deposit">
              <span class="custom radio"></span>
              Deposit
            </label>
          </div>
          <hr/>
          <div class="terms-field">
            <label class="terms"><b><%= t 'footer.tos' %></b></label>
            <label for="terms" onclick="">
              <input name="user[agreed_tos]" type="checkbox" id="terms" required class="hidden-field" value="1" checked="checked">
              <span class="custom checkbox"></span>
              <%= it 'account.agree_to_bfx_tos', :link => It.link('/pages/tos', :target => '_blank') %>
            </label>
          </div>
          <hr/>
          <button type="submit" class="submit success green radius"><%= t 'account.open_account' %></button>
        </div>
    <% end %>
<% end %>

